/*IE compatibility*/
.pf-c-form-control {
    --pf-global--Color--100: #151515;
    --pf-global--Color--200: #737679;
    --pf-global--BorderColor--100: #D2D2D2;
    --pf-global--primary-color--100: #0066CC;
    --pf-global--link--Color: #0066CC;
    --pf-global--link--Color--hover: #004080;
    --pf-global--BackgroundColor--100: #FFFFFF; }

.pf-c-form-control {
    --pf-c-form-control--FontSize: 14px;
    --pf-c-form-control--LineHeight: 1.5;
    --pf-c-form-control--BorderWidth: 1px;
    --pf-c-form-control--BorderTopColor: #EDEDED;
    --pf-c-form-control--BorderRightColor: #EDEDED;
    --pf-c-form-control--BorderBottomColor: #8A8D90;
    --pf-c-form-control--BorderLeftColor: #EDEDED;
    --pf-c-form-control--BorderRadius: 0;
    --pf-c-form-control--BackgroundColor: #FFFFFF;
    --pf-c-form-control--Height: 36px;
    --pf-c-form-control--PaddingTop: 5px;
    --pf-c-form-control--PaddingBottom: 5px;
    --pf-c-form-control--PaddingRight: 0.5rem;
    --pf-c-form-control--PaddingLeft: 0.5rem;
    --pf-c-form-control--hover--BorderBottomColor: #0066CC;
    --pf-c-form-control--focus--BorderBottomWidth: 2px;
    --pf-c-form-control--focus--PaddingBottom: 4px;
    --pf-c-form-control--focus--BorderBottomColor: #0066CC;
    --pf-c-form-control--placeholder--Color: #737679;
    --pf-c-form-control--disabled--Color: #737679;
    --pf-c-form-control--disabled--BackgroundColor: #EDEDED;
    --pf-c-form-control--disabled--BorderColor: transparent;
    --pf-c-form-control--readonly--focus--BackgroundColor: #EDEDED;
    --pf-c-form-control--readonly--focus--PaddingBottom: 4;
    --pf-c-form-control--readonly--focus--BorderBottomWidth: 1px;
    --pf-c-form-control--readonly--focus--BorderBottomColor: #737679;
    --pf-c-form-control--invalid--BorderBottomWidth: 2px;
    --pf-c-form-control--invalid--PaddingBottom: 4;
    --pf-c-form-control--invalid--BorderBottomColor: #C9190B;
    --pf-c-form-control--invalid--PaddingRight: 2rem;
    --pf-c-form-control--invalid--BackgroundSize: 1rem 1rem;
    --pf-c-form-control--success--BorderBottomWidth: 2px;
    --pf-c-form-control--success--PaddingBottom: 4;
    --pf-c-form-control--success--BorderBottomColor: #92D400;
    --pf-c-form-control--success--PaddingRight: 2rem;
    --pf-c-form-control--success--BackgroundSize: 1rem 1rem;
    --pf-c-form-control--m-search--PaddingLeft: 2rem;
    --pf-c-form-control--m-search--BackgroundSize: 1rem 1rem;
    --pf-c-form-control__select--PaddingRight: 1.5rem;
    --pf-c-form-control__select--invalid--PaddingRight: 3.5rem;
    --pf-c-form-control__select--success--PaddingRight: 3.5rem;
    color: #151515;
    width: 100%;
    padding: 5px 0.5rem 4px 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #EDEDED #EDEDED #8A8D90 #EDEDED;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none; }
.pf-c-form-control::placeholder {
    --pf-c-form-control--Color: #737679; }
.pf-c-form-control:not(textarea) {
    height: 36px;
    text-overflow: ellipsis; }
.pf-c-form-control[readonly], .pf-c-form-control[readonly].pf-m-hover, .pf-c-form-control[readonly]:hover, .pf-c-form-control[readonly].pf-m-focus, .pf-c-form-control[readonly]:focus {
    --pf-c-form-control--BorderBottomColor: #737679;
    padding-bottom: 4px;
    background-color: #EDEDED;
    border-bottom-width: 1px; }
.pf-c-form-control.pf-m-hover, .pf-c-form-control:hover {
    --pf-c-form-control--BorderBottomColor: #0066CC; }
.pf-c-form-control.pf-m-focus, .pf-c-form-control:focus {
    --pf-c-form-control--BorderBottomColor: #0066CC;
    padding-bottom: 4px;
    border-bottom-width: 2px; }
.pf-c-form-control:disabled {
    --pf-c-form-control--Color: #737679;
    --pf-c-form-control--BackgroundColor: #EDEDED;
    cursor: not-allowed;
    border-color: transparent; }
.pf-c-form-control.pf-m-success {
    --pf-c-form-control--PaddingRight: 2rem;
    --pf-c-form-control--BorderBottomColor: #92D400;
    padding-bottom: 4px;
    border-bottom-width: 2px;
}
.pf-c-form-control.pf-m-search {
    padding-left: 2rem;
}
select.pf-c-form-control {
    --pf-c-form-control--PaddingRight: 1.5rem;
}
select.pf-c-form-control[aria-invalid="true"] {
    --pf-c-form-control--PaddingRight: calc(0.5rem + 3rem);
}
select.pf-c-form-control.pf-m-success {
    --pf-c-form-control--PaddingRight: 3.5rem;
}
.pf-c-form-control.pf-m-resize-vertical {
    resize: vertical; }
.pf-c-form-control.pf-m-resize-horizontal {
    resize: horizontal; }

.pf-c-alert {
    --pf-c-alert--grid-template-columns: max-content 1fr max-content;
    --pf-c-alert--grid-template-rows: 1fr auto;
    --pf-c-alert__icon--Padding: 8px;
    --pf-c-alert__title--Color: #003737;
    --pf-c-alert__title--PaddingTop: 8px;
    --pf-c-alert__title--PaddingRight: 8px;
    --pf-c-alert__title--PaddingBottom: 8px;
    --pf-c-alert__title--PaddingLeft: 8px;
    --pf-c-alert__description--PaddingRight: 8px;
    --pf-c-alert__description--PaddingBottom: 8px;
    --pf-c-alert__description--PaddingLeft: 8px;
    --pf-c-alert__description--MarginTop: 5px;
    --pf-c-alert__action--PaddingTop: 0.6875rem;
}